// out: null

/* Parametric mixins*/

/*Headings*/

.headingStyle(@paramColor: #000; @paramSize: 2em) {
    color: @paramColor;
    font-size: @paramSize;
    font-weight: bold;
    line-height: @paramSize;
    margin-top: @paramSize / 2;
    margin-bottom: @paramSize /2;
}
