/*Imports*/
/* Parametric mixins*/
/*Headings*/
/*End of Parametric mixins*/
/*General Mixins*/
/*Transitions*/
/*Centered Text*/
/*Full Width*/
/*Slider Style*/
/*MOBILE STYLESHEET*/
body {
  font-family: 'Roboto', sans-serif !important;
  /*Global Styles*/
  /*Header*/
  /*Nav*/
  /*Main*/
  /*Footer*/
}
body h1 {
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.8em;
  text-align: center;
  margin-top: 0.8em;
}
body h2 {
  color: #000000;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.7em;
  text-align: center;
}
body h3 {
  color: #000000;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.55em;
  text-align: center;
}
body h4 {
  color: #000000;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.45em;
  text-align: center;
}
body h5 {
  color: #000000;
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 0.425em;
  text-align: center;
}
body h6 {
  color: #000000;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 0.375em;
  text-align: center;
}
body i {
  color: #ff0000;
}
body .header {
  width: 100%;
}
body .header .logo {
  width: 100%;
  height: auto;
}
body .menuIcon {
  display: flex;
  justify-content: center;
  background: #000000;
}
body nav {
  max-height: 0;
  overflow: hidden;
  float: none;
  text-align: center;
  background: #000000;
  width: 100%;
  transition: max-height 0.5s;
}
body nav.menuOpen {
  max-height: 62.5em;
  transition: max-height 0.5s;
}
body nav ul li {
  display: block;
  padding: 0.625em;
}
body nav ul li:hover {
  background: #ff0000;
}
body nav ul li a {
  color: #ffffff;
  padding: 0.625em;
  width: 100%;
  text-decoration: none;
}
body #about-container section p {
  text-align: left;
  padding: 0 1em;
}
body main {
  text-align: center;
  /*Section*/
}
body main p {
  padding: 0.313em;
}
body main strong {
  font-weight: 900;
}
body main section {
  margin: 1em 0;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
body main section .avatar {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
body main section .avatar img {
  width: 100%;
  height: auto;
}
body main section .report-container {
  width: 100%;
  margin: 0 auto;
}
body main section .report-container .weather-icon {
  vertical-align: middle;
  margin-right: 20px;
}
body main section .report-container .weather-forecast {
  color: #212121;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0px;
}
body main section .report-container span.min-temperature {
  margin-left: 15px;
  color: #929292;
}
body main section .report-container .time {
  line-height: 25px;
}
body main section .social-container {
  background-color: #000000;
}
body main section .social-container .fb-feed,
body main section .social-container .twitter-feed {
  padding: 2em;
}
body main section .rslides_container {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
body main section .rslides_container .rslides li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main section .rslides_container .centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -45px;
}
body main section .rslides_container .centered-btns_nav:active {
  opacity: 1.0;
}
body main section .rslides_container .centered-btns_nav:focus {
  outline: none;
}
body main section .rslides_container .centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
body main section .rslides_container .centered-btns_tabs {
  margin-top: 10px;
  text-align: center;
}
body main section .rslides_container .centered-btns_tabs li {
  display: inline;
  float: none;
  margin-right: 5px;
}
body main section .rslides_container .centered-btns_tabs li a {
  text-indent: -9999px;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
}
body main section .rslides_container .centered-btns_tabs .centered-btns_here a {
  background: #000000 !important;
}
body main .button {
  margin: 4em 0 !important;
}
body main .button .register-button {
  margin: .5em 0 !important;
  align-self: center;
  border-radius: 4px;
  background-image: linear-gradient(to right, #ff0000, #000000);
  border: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  width: 50%;
  transition: all 0.4s;
  cursor: pointer;
  padding: 1em 1em;
}
body main .button .register-button:hover span {
  padding-right: 3em;
}
body main .button .register-button:hover span:after {
  opacity: 1;
  right: 0;
}
body main .button .register-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
body main .button .register-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
body main form {
  color: #000000;
  display: flex;
  flex-direction: column;
}
body main form label {
  align-self: flex-start;
  font-size: 1em;
  text-transform: uppercase;
  margin: .5em 0;
}
body main form input[type=text],
body main form input[type=number] {
  height: 3em;
  width: 100%;
}
body main form #honeypot {
  display: none;
}
body main form .athlete-wrapper {
  display: table;
  width: 100%;
}
body main form .athlete-wrapper label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
}
body main form .athlete-wrapper span {
  display: table-cell;
  padding: 0 0 0 5px;
  margin: 5px;
}
body main form .athlete-wrapper span input {
  width: 100%;
  height: 1.5em;
}
body main form .gender-wrapper {
  display: grid;
  grid-template-columns: 95% 5%;
  text-align: left;
  margin-top: 10px;
}
body main form .gender-wrapper #gender {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #000000;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  border: 1px solid #000000;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
body main form .gender-wrapper #gender:hover {
  border-color: #000000;
}
body main form .gender-wrapper #gender:focus {
  border-color: #000000;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  color: #000000;
  outline: none;
}
body main form .gender-wrapper #gender option {
  font-weight: normal;
}
body main form .event-wrapper {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-column-gap: 10px;
  margin-bottom: 20px;
}
body main form .event-wrapper input[type=checkbox] {
  width: 20px;
  height: 20px;
}
body main form .event-wrapper input[type=checkbox]:after {
  background-color: #ff0000 !important;
}
body main form input,
body main form textarea {
  border: 2px solid #000000;
}
body main form input:last-child,
body main form textarea:last-child {
  margin: .5em 0 !important;
  align-self: center;
  border-radius: 4px;
  background-image: linear-gradient(to right, #ff0000, #000000);
  border: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  width: 50%;
  transition: all 0.4s;
  cursor: pointer;
}
body main form input[type=submit] {
  padding: .8em;
}
body footer {
  background: #000000;
  width: 100%;
  height: 4.688em;
  text-align: center;
}
body footer ul li {
  display: inline-block;
  margin: 1em;
}
body footer ul li a > i:hover {
  color: #ffffff;
}
/*TABLET STYLESHEET
The following CSS affects all screen sizes larger than 480 pixels wide.
*/
@media only screen and (min-width: 480px) {
  body {
    /*Main*/
  }
  body h2 {
    color: #000000;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.8em;
    text-align: center;
  }
  body h3 {
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.7em;
    text-align: center;
  }
  body main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header" "main side" "footer footer";
    grid-gap: 10px;
  }
  body main section {
    padding: .5em;
    text-align: left;
  }
  body main section:first-child {
    grid-area: header;
  }
  body main section:nth-child(4) {
    grid-area: footer;
  }
  body main section .social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main section .social-container .fb-feed {
    width: 50%;
  }
  body main section .social-container .twitter-feed {
    height: 100%;
  }
  body main .button {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  body form {
    width: 75%;
    margin: auto;
  }
  body form input {
    height: 2.5em;
  }
}
/*DESKTOP STYLESHEET
The following CSS affects all screen sizes larger than 780 pixels wide.
*/
@media screen and (min-width: 780px) {
  body {
    /*Nav*/
  }
  body h2 {
    color: #000000;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.9em;
    text-align: center;
  }
  body h3 {
    color: #000000;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.8em;
    text-align: center;
  }
  body nav {
    width: 100%;
    max-height: 1000px;
    background: #000000;
    padding: 0;
  }
  body nav ul {
    padding: 0;
    margin: 0;
  }
  body nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
  }
  body nav ul li a {
    width: 100%;
    display: block;
    padding: 1em;
    color: #ffffff;
  }
  body .menuIcon {
    display: none !important;
  }
  body main #about-container section p {
    padding: 0 2em;
  }
  body main form {
    width: 45% !important;
    margin: auto !important;
  }
  body main form .event-wrapper {
    grid-column: 95% 5% !important;
    text-align: left;
  }
  body main form input {
    width: 50%;
  }
}
