/*Imports*/
@import 'mixins.less';
@import 'palette.less';


/*MOBILE STYLESHEET*/

body {
  font-family: 'Roboto', sans-serif !important;
  // Headings
  h1 {
    .headingStyle(@color1; 1.6em);
  }

  h2 {
    .headingStyle(@color1; 1.4em);
  }

  h3 {
    .headingStyle(@color1; 1.1em);
  }

  h4 {
    .headingStyle(@color1;.9em);
  }

  h5 {
    .headingStyle(@color1;.85em);
  }

  h6 {
    .headingStyle(@color1;.75em);
  }
  /*Global Styles*/
  i {
    color: @color3;
  }
  /*Header*/
  .header {
    .full-width;
    .logo {
      .full-width;
      height: auto;
    }
  }
  .menuIcon {
    display: flex;
    justify-content: center;
    background: @color1;
  }
  /*Nav*/
nav {
  max-height: 0;
  overflow: hidden;
  float: none;
  .center-text;
  background: @color1;
  .full-width;
  .transitions;
    &.menuOpen {
      max-height: 62.5em;
      .transitions;
    }
    ul {
      li {
        display: block;
        padding: 0.625em;
        border: 1px solid @color2;
        &:hover {
          background: @color3;
        }
        a {
          color: @color2;
          padding: 0.625em;
          .full-width;
          text-decoration: none;
        }
      }
    }
  }
  /*Main*/
  main {
    .center-text;
    p {
      padding: 0.313em;
    }
    strong {
      font-weight: 900;
    }
    /*Section*/
    section {
      margin: 1em 0;
      // 404 Error Styles
      @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-20px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
      }
      .avatar {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        box-sizing: border-box;
        border: 5px white solid;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        img {
          .full-width;
          height: auto;
        }
      }
      //About link
      .read-link {
        color: @color1;
        &:hover {
          color: @color3;
        }
        &:visited {
          color: @color3;
        }
      }
      // Weather Feed
      .report-container {
        .full-width;
        margin: 0 auto;
        .weather-icon {
          vertical-align: middle;
          margin-right: 20px;
        }
        .weather-forecast {
          color: #212121;
          font-size: 1.2em;
          font-weight: bold;
          margin: 20px 0px;
        }
        span.min-temperature {
          margin-left: 15px;
          color: #929292;
        }
        .time {
          line-height: 25px;
        }
      }
      //Social Media Feed
      .social-container {
        background-color: @color1;
        .fb-feed, .twitter-feed {
          padding: 2em;
        }
      }
      //Slider Gallery
      .rslides_container {
        float: left;
        .full-width;
        margin-bottom: 50px;
        position: relative;
      .rslides li {
          img {
            .full-width;
            height: 100%;
            object-fit: cover;
          }
        }
        .centered-btns_nav {
          z-index: 3;
          position: absolute;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          top: 50%;
          left: 0;
          opacity: 0.7;
          text-indent: -9999px;
          overflow: hidden;
          text-decoration: none;
          height: 61px;
          width: 38px;
          background: transparent url("../img/themes.gif") no-repeat left top;
          margin-top: -45px;
            &:active {
              opacity: 1.0;
          }
            &:focus {
              outline: none;
          }
        }
        .centered-btns_nav.next {
          left: auto;
          background-position: right top;
          right: 0;
        }
        .centered-btns_tabs {
          margin-top: 10px;
          text-align: center;
          li {
            display: inline;
            float: none;
            margin-right: 5px;
            a {
              text-indent: -9999px;
              text-align: center;
              overflow: hidden;
              -webkit-border-radius: 15px;
              -moz-border-radius: 15px;
              border-radius: 15px;
              background: #ccc;
              background: rgba(0,0,0, .2);
              display: inline-block;
              -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
              -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
              box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
              width: 10px;
              height: 10px;
            }
          }
          .centered-btns_here a {
            background: @color1 !important;
          }
        }
      }
    }
    // Button Styling
    .button {
      margin: 4em 0 !important;
      .register-button, .contact-button {
        .button-style;
        padding: 1em 1em;
        &:hover span {
          padding-right: 3em;
          &:after {
            opacity: 1;
            right: 0;
          }
        }
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.4s;
          &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
        }
      }
    }
    // Form Stylings
    form {
      color: @color1;
      display: flex;
      flex-direction: column;
      margin: 0 1em;
      label {
        align-self: flex-start;
        font-size: 1em;
        text-transform: uppercase;
        margin: .5em 0;
      }
      select {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        color: @color1;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        .full-width;
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: 1em;
        border: 1px solid @color1;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: @color2;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        &:hover {
          border-color: @color1;
        }
        &:focus {
          border-color: @color1;
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
          color: @color1;
          outline: none;
        }
        option {
          font-weight:normal;
        }
      }
      input[type=text], input[type=number] {
        height: 3em;
        .full-width;
      }
      #honeypot {
        display: none;
      }
      .gender-wrapper {
        display: grid;
        grid-template-columns: 95% 5%;
        text-align: left;
        margin-top: 10px;
      }
      .event-wrapper {
        display: grid;
        grid-template-columns: 85% 15%;
        grid-column-gap: 10px;
        margin-bottom: 20px;
        input[type=checkbox] {
          width: 20px;
          height: 20px;
          &:after {
            background-color: @color3 !important;
          }
        }
      }
      input, textarea {
        border: 2px solid @color1;
        &:last-child {
          .button-style();
        }
      }
      input[type=submit] {
        padding: .8em;
        &:hover {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        }
      }
    }
  }
  /*Footer*/
  footer {
    background: @color1;
    .full-width;
    height: 4.688em;
    .center-text;
    ul {
      li {
        display: inline-block;
        margin: 1em;
        a>i:hover {
          color: @color2;
        }
      }
    }
  }
}

/*TABLET STYLESHEET
The following CSS affects all screen sizes larger than 480 pixels wide.
*/

@media only screen and (min-width: 480px) {
  body {
    //Heading Styles
    h1 {
      .headingStyle(@color1; 2em);
    }

    h2 {
      .headingStyle(@color1; 1.6em);
    }

    h3 {
     .headingStyle(@color1; 1.4em);
    }
    //About Main Container Styles
    .about-container {
      text-align: left !important;
      padding: .5em;
    }
    /*Main*/
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "header header"
      "main side"
      "footer footer";
      grid-gap: 20px;
      .bring {
        text-align: left;
      }
      section {
        &:first-child {
          grid-area: header;
        }
        &:nth-child(4) {
          grid-area: footer;
        }
        .cost {
          margin-left: 3em;
          text-align: left;
          list-style: circle;
        }
        //Social Media Feed
        .social-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .fb-feed {
            width: 50%;
          }
          .twitter-feed {
            height: 100%;
          }
        }
      }
      // Button Styling
      .button {
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
    // Form Styling
    form {
      width: 75%;
      margin: auto;
      input {
        height: 2.5em;
      }
    }
  }

}

/*DESKTOP STYLESHEET
The following CSS affects all screen sizes larger than 780 pixels wide.
*/

@media screen and (min-width: 780px) {
  body {
    h1 {
      .headingStyle(@color1; 2.2em);
    }

    h2 {
      .headingStyle(@color1; 1.8em);
    }

    h3 {
      .headingStyle(@color1; 1.6em);
    }
    /*Nav*/
    nav {
      .full-width;
      max-height: 1000px;
      background: @color1;
      padding: 0;
      ul {
        padding:0;
        margin:0;
        li {
          display: inline-block;
          float: left;
          list-style: none;
          border: 1px solid @color1;
          margin: 0;
          a {
            .full-width;
            display: block;
            padding: 1em;
            color: @color2;
          }
        }
      }
    }
    .menuIcon {
      display: none !important;
    }
    main {
      section {
        padding: .5em;
      }
      // Form Styling
      form {
        width: 45% !important;
        margin: auto !important;
        .event-wrapper {
          grid-column: 95% 5% !important;
          text-align: left;
        }
        input {
          width: 50%;
        }
      }
    }

  }
}
